{% extends "base.jinja2" %}

{% block header %}
{% for header in type_def.dependencies | headers('objcpp') -%}
#import {{ header }}
{% endfor %}
#import {{ type_def.objc.header | quote }}
#include {{ (type_def.cpp.derived_header if type_def.cpp.base_type else type_def.cpp.header) | quote }}

static_assert(__has_feature(objc_arc), "PyDjinni requires ARC to be enabled for this file");

@class {{ type_def.objc.typename }};
{% endblock %}

{% block content %}
struct {{ type_def.objcpp.name }} {
    using CppType = {{ type_def.cpp.typename }};
    using ObjcType = ::{{ type_def.objc.typename }}*;

    using Boxed = {{ type_def.objc.boxed }};

    static CppType toCpp(ObjcType objc);
    static ObjcType fromCpp(const CppType& cpp);
};
{% endblock %}
