{% extends "base.jinja2" %}

{% block content %}
{{ type_def.java.comment }}
{{ config.class_access_modifier.value }} abstract class {{ type_def.java.boxed }} {
    {% for method in type_def.methods %}
    {% if method.comment %}
    {{ method.java.comment | indent(4) }}
    {% endif %}
    public {{ "static" if method.static else "abstract" }} {{ method.return_type_ref.type_def.java.typename if method.return_type_ref else "void" }} {{ method.java.name }}(
    {%- for parameter in method.parameters -%}
        {{ parameter.type_ref.type_def.java.typename }} {{ parameter.java.name ~ (", " if not loop.last) }}
    {%- endfor -%}
    );
    {% endfor %}
}
{% endblock %}
