prune docs
global-exclude CMakeLists.txt
global-exclude tests/**
global-exclude it/**
global-exclude .gitignore
exclude .github/**
exclude .idea/**
exclude cmake-build-*/**
exclude cmake/**
include src/pydjinni/cmake/modules/FindPyDjinni.cmake
include src/pydjinni/cmake/modules/PyDjinni.cmake
include src/pydjinni_init/templates/conan_cmake/template/CMakeLists.txt
