site_name: PyDjinni
repo_url: https://github.com/pydjinni/pydjinni
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2023 jothepro
theme:
  name: material
  favicon: assets/logo.png
  logo: assets/logo.png
  font:
    text: Open Sans
  icon:
    repo: fontawesome/brands/github
    edit: material/file-edit-outline
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: white
      accent: blue
      scheme: default
      toggle:
        icon: octicons/sun-16
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: blue
      accent: blue
      scheme: slate
      toggle:
        icon: octicons/moon-16
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - content.action.edit
    - content.code.copy
    - content.code.annotate
plugins:
  - tags
  - search
  - mkdocstrings
  - macros:
      module_name: docs/macros/main
  - gen-files:
      scripts:
        - docs/gen-files/schemas.py
watch:
  - src/pydjinni/api.py
markdown_extensions:
  - mkdocs-click
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
extra:
  version:
    provider: mike
extra_css:
  - stylesheets/extra.css
  - stylesheets/demo.css
nav:
  - Home: index.md
  - Getting started:
      - Installation: installation.md
      - Usage: usage.md
      - Features: features.md
  - Reference:
      - CLI: cli.md
      - API: api.md
      - IDL: idl.md
      - Configuration: config.md
      - Types: types.md
      - Deriving: deriving.md
      - External Types: external_types.md
      - Processed Files: processed_files.md
      - CMake: cmake.md
      - Pygments: pygments.md
  - Demo: demo.md
  - Development:
      - Setup: dev_setup.md
      - Plugins:
          - Generator Plugin: generator_plugin.md
          - Build Plugin: build_plugin.md
          - Package Plugin: package_plugin.md

