{% macro translator(type_ref) %}
{%- if type_ref.optional -%}
::pydjinni::jni::translator::Optional<std::optional,
{%- endif -%}
{{ type_ref.type_def.jni.translator }}
{%- if type_ref.parameters -%}
    <
    {%- for parameter in type_ref.parameters -%}
        {{ translator(parameter) ~ (", " if not loop.last) }}
    {%- endfor -%}
    >
{%- endif -%}
{%- if type_ref.optional -%}
>
{%- endif -%}
{% endmacro %}

{% macro return_type(method) %}
{{ method.return_type_ref.type_def.jni.typename.value if method.return_type_ref else "void" }}
{% endmacro %}