{#
Copyright 2023 jothepro

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
{%- macro type_mapping(name) -%}
{%-  set type_mapping = {
                "int8_t": "Int8",
                "int16_t": "Int16",
                "int32_t": "Int32",
                "float": "Float",
                "double": "Double",
                "NSString": "String",
                "NSDate": "Date",
                "BOOL": "Bool"
            } -%}
{%- if name in type_mapping -%}
{{ type_mapping[name] }}
{%- else -%}
{{ name }}
{%- endif -%}
{%- endmacro -%}
{{ decl|comment }}

<h2>Methods:</h2>

{% for method in decl.methods %}
    <pre><code>{{ "class " if method.static }}func {{ method.java.name }}(
        {%- for param in method.parameters -%}
            {{ param.objc.name }}: {{ type_mapping(param.type_ref.type_def.objc.typename) }}{{ ", " if not loop.last }}
        {%- endfor -%}){{ " -> " ~ type_mapping(method.return_type_ref.type_def.objc.typename) if method.return_type_ref }}</code></pre>
    {{ method | comment }}
    <h3>Parameters:</h3>
    <ul>
        {% for param in method.parameters %}
        <li><strong>{{ param.objc.name }}</strong> {{ param|comment }}</li>
        {% endfor %}
    </ul>
{% endfor %}
