/*#
Copyright 2023 jothepro

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#*/
//> macro cpp_error_handling(method):
//> if method.cpp.noexcept or method.asynchronous:
{{ caller() }}
//> else:
    try {
    {{ caller() | indent() }}
    }
    /*> if method.throwing */
    /*> for error_domain_ref in method.throwing */
    /*> set error_domain = error_domain_ref.type_def */
    /*> for error_code in error_domain.error_codes */
    catch (const {{ error_domain.cpp.typename }}::{{ error_code.cpp.name }}& e) {
        *error = {{ error_domain.objcpp.namespace }}::{{ error_domain.objcpp.name }}::fromCpp(e);
    }
    /*> endfor */
    /*> endfor */
    /*> endif */
    catch (const ::pydjinni::objc_exception& e) {
        *error = ::pydjinni::objc_exception::fromCpp(e);
    }
    catch (const std::exception& e) {
        *error = ::pydjinni::objc_exception::fromCpp(e);
    }
//> endif
//> endmacro

//> macro objc_error_handling(method):
//> if not method.cpp.noexcept and not method.asynchronous:
if(error) {
    //> if method.throwing:
    //> for error_domain_ref in method.throwing
    //> set error_domain = error_domain_ref.type_def
    {{ "else " if not loop.first }}if(error.domain == {{ error_domain.objc.domain_name }}) {
        std::rethrow_exception(::{{ error_domain.objcpp.namespace }}::{{ error_domain.objcpp.name }}::toCpp(error));
    }
    //> endfor
    else {
        throw ::pydjinni::objc_exception::toCpp(error);
    }
    //> else:
    throw ::pydjinni::objc_exception::toCpp(error);
    //> endif
}
//> endif
//> endmacro
// AUTOGENERATED FILE - DO NOT MODIFY!
// This file was generated by PyDjinni from '{{ type_def.position.file }}'

//> if is_header:
#import <Foundation/Foundation.h>
//> for import in type_def.objcpp.header_imports | sort:
#import {{ import }}
//> endfor
//> for include in type_def.objcpp.header_includes | sort:
#include {{ include }}
//> endfor

static_assert(__has_feature(objc_arc), "PyDjinni requires ARC to be enabled for this file");
//> else:
//> for import in type_def.objcpp.source_imports | sort:
#import {{ import }}
//> endfor
//> for include in type_def.objcpp.source_includes | sort:
#include {{ include }}
//> endfor
//> endif
//> block global
//> endblock

//> if type_def.objcpp.namespace
namespace {{ type_def.objcpp.namespace }} {
//> endif
//> block content
//> endblock content
//> if type_def.objcpp.namespace
}  // namespace {{ type_def.objcpp.namespace }}
//> endif
