{% macro translator(type_ref) %}
{%- if type_ref.optional -%}
::pydjinni::translators::objc::Optional<std::optional,
{%- endif -%}
{{ type_ref.type_def.objcpp.translator }}
{%- if type_ref.parameters -%}
    <
    {%- for parameter in type_ref.parameters -%}
        {{ translator(parameter) }}
    {%- endfor -%}
    >
{%- endif -%}
{%- if type_ref.optional -%}
>
{%- endif -%}
{% endmacro %}
