{% macro translator(type_ref) %}
{{ type_ref.type_def.objcpp.translator }}
{%- if type_ref.parameters -%}
    <
    {%- for parameter in type_ref.parameters -%}
        {{ translator(parameter) }}
    {%- endfor -%}
    >
{%- endif -%}
{% endmacro %}
