{% extends "base.jinja2" %}

{% block header %}
#pragma once

#include "pydjinni/jni/support.hpp"
{% for header in type_def.dependencies | headers('jni') -%}
#include {{ header }}
{% endfor -%}
{% endblock %}

{% block content %}
class {{ type_def.jni.name }} final : ::pydjinni::JniFlags {
public:
    using Type = {{ type_def.jni.name }};
    using CppType = {{ type_def.cpp.typename }};
    using JniType = {{ type_def.jni.typename.value }};

    static CppType toCpp(JNIEnv* jniEnv, JniType j) { return static_cast<CppType>(::pydjinni::JniClass<Type>::get().flags(jniEnv, j)); }
    static ::pydjinni::LocalRef<JniType> fromCpp(JNIEnv* jniEnv, CppType c) { return ::pydjinni::JniClass<Type>::get().create(jniEnv, static_cast<unsigned>(c), {{ type_def.flags | length }}); }

private:
    {{ type_def.jni.name }}() : JniFlags("{{ type_def.jni.class_descriptor }}") {}
    friend ::pydjinni::JniClass<Type>;
};
{% endblock %}
