{% extends "base.jinja2" %}

{% block content %}
//! Project version number for bridgingheader.
FOUNDATION_EXPORT double bridgingheaderVersionNumber;

//! Project version string for bridgingheader.
FOUNDATION_EXPORT const unsigned char bridgingheaderVersionString[];

{% for type_def in ast -%}
#import {{ type_def.objc.header | quote }}
{% endfor %}
{% endblock %}
