{% extends "base.jinja2" %}

{% block header %}
{% for import in type_def.objc.imports -%}
#import {{ import | header }}
{% endfor %}
{% endblock %}

{% block content %}
{{ type_def.objc.comment }}
NS_SWIFT_NAME({{ type_def.objc.swift_typename }})
@protocol {{ type_def.objc.typename }} <NSObject>
{% for method in type_def.methods %}
{% if method.comment %}
{{ method.objc.comment }}
{% endif %}
{{ "+" if method.static else "-" }} {{ ((method.return_type_ref.type_def | type_decl ) if method.return_type_ref) ~ method.objc.name }}
{%- for parameter in method.parameters -%}
{{ ":" if loop.first else (" " ~ parameter.objc.name ~ ":") }}{{ parameter.type_ref.type_def | type_decl }}{{ parameter.objc.name }}
{% endfor %}
  __attribute__((swift_name("{{ method.objc.name }}(
{%- for parameter in method.parameters -%}
{{ parameter.objc.name }}:
{%- endfor -%}
)")));
{% endfor %}
@end
{% endblock %}
