{% extends "base.jinja2" %}
{% from "macros.jinja2" import constant_declaration %}

{% block header %}
{% for header in type_def.dependencies | headers('objc') -%}
#import {{ header }}
{% endfor %}
{% endblock %}

{% block content %}
{% if type_def.comment %}
{{ type_def.objc.comment }}
{% endif %}
NS_SWIFT_NAME({{ type_def.objc.swift_typename }})
@interface {{ type_def.objc.typename }} : NSObject
- (nonnull instancetype){{ type_def.objc.init }}
    {%- for field in type_def.fields -%}
        {{ (" " ~ field.objc.name if not loop.first) ~ ":" }}({{ (field.objc.annotation ~ " ") if field.objc.annotation }}{{ field.objc.type_decl }}){{ field.objc.name }}
    {%- endfor -%};
+ (nonnull instancetype){{ type_def.objc.convenience_init }}
    {%- for field in type_def.fields -%}
        {{ (" " ~ field.objc.name if not loop.first) ~ ":" }}({{ (field.objc.annotation ~ " ") if field.objc.annotation }}{{field.objc.type_decl }}){{ field.objc.name }}
    {%- endfor -%};
{% for field in type_def.fields %}
{% if field.comment %}
{{ field.objc.comment }}
{% endif %}
@property (nonatomic, readonly{{ ", " ~ field.objc.annotation if field.objc.annotation }}) {{ field.objc.type_decl }} {{ field.objc.name }};
{% endfor %}
@end

{% for constant in type_def.constants -%}
{{ constant_declaration(type_def, constant) }}
{%- endfor %}

{% endblock %}
