{% extends "base.jinja2" %}
{% from "macros.jinja2" import comment %}

{% block header %}
#pragma once
{% endblock %}

{% block content %}
{{ comment(type_def) }}
enum class {{ type_def.cpp.name }} : int {
{% for item in type_def.items %}
    {{ comment(item) }}
    {{ item.cpp.name ~ ("," if not loop.last) }}
{% endfor %}
};

{% endblock %}
