{% extends "base.jinja2" %}

{% block header %}
#pragma once
{% endblock %}

{% block content %}
{% if type_def.comment %}
{{ type_def.cpp.comment }}
{% endif %}
enum class {{ type_def.cpp.name }} : int {
{% for item in type_def.items %}
    {% if item.comment %}
    {{ item.cpp.comment | indent(4) }}
    {% endif %}
    {{ item.cpp.name ~ ("," if not loop.last) }}
{% endfor %}
};
{% endblock %}
