{#
Copyright 2024 jothepro

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
{% extends "base.jinja2" %}
{% from "macros.jinja2" import comment, deprecated %}

{% block header %}
#pragma once
#include <exception>
#include <string>
#include <utility>
{% endblock %}

{% block content %}
{% if type_def.comment %}
{{ comment(type_def) }}
{% endif %}
struct {% if type_def.deprecated -%}
{{ deprecated(type_def) ~ " " }}
{%- endif %}{{ type_def.cpp.name }} : public std::exception {
    [[nodiscard]] const char * what() const noexcept override = 0;
{% for error_code in type_def.error_codes %}
    class {{ error_code.cpp.name }};
{% endfor %}
};

{% for error_code in type_def.error_codes %}
{% if error_code.comment %}
{{ comment(error_code) }}
{% endif %}
class {% if type_def.deprecated -%}
{{ deprecated(type_def) ~ " " }}
{%- endif %} {{ type_def.cpp.name }}::{{ error_code.cpp.name }} final : public {{ type_def.cpp.name }} {
public:
    {% for parameter in error_code.parameters %}
    const {{ parameter.cpp.type_spec }} {{ parameter.cpp.name }};
    {% endfor %}
    {{ error_code.cpp.name }}(
        {% for parameter in error_code.parameters %}
        {{ parameter.cpp.type_spec }} {{ parameter.cpp.name ~ "_" }},
        {% endfor %}
        std::string message_ = ""
    ) {{ ": " }}
    {%- for parameter in error_code.parameters -%}
        {{ parameter.cpp.name }}(std::move({{ parameter.cpp.name }}_)){{ ", " }}
    {%- endfor -%}
    message(std::move(message_)) {}

    [[nodiscard]] const char * what() const noexcept override {
        return message.c_str();
    }
private:
    std::string message;
};
{% endfor %}

{% endblock %}
