{% extends "base.jinja2" %}
{% from "macros.jinja2" import comment, return_type, attributes %}

{% block header %}
#pragma once

#include <memory>
{% endblock %}

{% block content %}
{{ comment(type_def) }}
class {{ type_def.cpp.name }} {
public:
    virtual ~{{ type_def.cpp.name }}() {}

{% for constant in type_def.constants -%}
    {{ constant_declaration(constant) }}
{%- endfor %}
{% for method in type_def.methods %}
    {{ comment(method) }}
    {{ attributes(method) }} {{ return_type(method) }} {{ method.cpp.name }}(
    {%- for parameter in method.parameters -%}
        const {{ parameter.type_ref.type_def.cpp.typename }}& {{ parameter.cpp.name ~ (", " if not loop.last) }}
    {%- endfor -%}
    ){{ " = 0" if not method.static }};
{% endfor %}
};
{% endblock %}
