{% extends "base.jinja2" %}
{% from "macros.jinja2" import comment %}

{% block header %}
#pragma once
{% endblock %}

{% block content %}
{{ comment(type_def) }}
class {{ type_def.cpp.name }} {
public:
    virtual ~{{ type_def.cpp.name }}() {}

{% for constant in type_def.constants -%}
    {{ constant_declaration(constant) }}
{%- endfor %}
{% for method in type_def.methods %}
    {{ comment(method) }}
    {{ "static" if method.static else "virtual" }} {{ method.return_type_ref.type_def.cpp.typename if method.return_type_ref else "void" }} {{ method.cpp.name }}(
    {%- for parameter in method.parameters -%}
        const {{ parameter.type_ref.type_def.cpp.typename }}& {{ parameter.cpp.name ~ (", " if not loop.last) }}
    {%- endfor -%}
    ){{ " = 0" if not method.static }};
{% endfor %}
};
{% endblock %}
