{% include "base.jinja2" %}

#pragma once

{% for include in type_def.cpp.includes -%}
#include {{ include }}
{% endfor %}

struct {{ type_def.cpp.typename }} final {
    {% for field in type_def.fields %}
        /** {{ field.cpp.comment }} */
        {{ field.cpp.typename }} {{ field.cpp.name }};
    {% endfor %}

    {{ type_def.cpp.typename }}(
        {% for field in type_def.fields -%}
            {{ field.cpp.typename }} {{ field.cpp.name }}_{{ ", " if not loop.last }}
        {% endfor %})
    :{% for field in type_def.fields %}
        {{ ", " if not loop.first }} {{ field.cpp.name }}(std::move({{ field.cpp.name }}_))
    {% endfor %}
    {}

    {% if config.default_record_constructor %}
        {{ type_def.cpp.typename }}()
        :{% for field in type_def.fields -%}
            {{ ", " if not loop.first }} {{ field.cpp.name }}()
        {% endfor %}
        {}
    {% endif %}
};
