{% extends "base.jinja2" %}

{% block header %}
#pragma once

#include <algorithm>
{% for include in type_def.cpp.includes -%}
{{ include_def(include) }}
{% endfor %}
{% endblock %}

{% block content %}
{{ type_def.cpp.comment }}
struct {{ type_def.cpp.name }} final {
{% for field in type_def.fields %}
    {% if field.comment %}
    {{ field.cpp.comment | indent(width=4) }}
    {% endif %}
    {{ field.type_ref.type_def.cpp.typename ~ " " ~ field.cpp.name }};
{% endfor %}

    {{ type_def.cpp.name }}(
    {%- for field in type_def.fields %}
        {{- field.type_ref.type_def.cpp.typename ~ " " ~ field.cpp.name ~ "_" ~ (", " if not loop.last) }}
    {%- endfor %})
    {% for field in type_def.fields %}
    {{ (": " if loop.first else ', ') ~ field.cpp.name }}(std::move({{ field.cpp.name }}_))
    {% endfor %}
    {}

{% if config.default_record_constructor %}
    {{ type_def.cpp.name }}()
    {% for field in type_def.fields %}
    {{ (": " if loop.first else ', ') ~ field.cpp.name }}()
    {% endfor %}
    {}
{% endif %}
};
{% endblock %}
