{% extends "base.jinja2" %}
{% from "macros.jinja2" import constant_definition %}

{% block header %}
#import {{ type_def.objc.header | header }}
{% endblock %}

{% block content %}
{% for constant in type_def.constants -%}
{{ constant_definition(type_def, constant) }}
{%- endfor %}
{% endblock %}