:root {
    --border-radius: 0.45rem;
}

@media screen {
    [data-md-color-scheme=slate] {
        --md-default-bg-color: var(--md-footer-bg-color--dark);
    }
    [data-md-color-scheme=default] {
        --md-typeset-a-color: #4051b5;
    }
}

.md-typeset h1, .md-typeset h2 {
    font-weight: 600;
}

.md-typeset__table {
  width: 100%;
}

.md-typeset__table table:not([class]) {
  display: table
}

.md-header--shadow {
    box-shadow: inset 0 -1px 0 var(--md-typeset-table-color);
}

.md-tabs {
    background: none;
    border-bottom: none !important;
}

.md-header {
    background-color: var(--md-default-bg-color);
}

.md-header__button.md-icon svg {
    width: 1rem;
    height: 1rem;
}

.md-header__button.md-icon {
    border-radius: 100%;
}

.md-header__button.md-icon:hover {
    background: var(--md-accent-fg-color--transparent);
    opacity: 1;
}

.md-typeset code, .md-typeset table:not([class]), .md-dialog, .md-version__list {
    border-radius: var(--border-radius);
}

.md-typeset .md-button :is(.emojione,.twemoji,.gemoji) {
    height: 1.4em;
}

.md-typeset .md-button {
    border-radius: var(--border-radius);
    padding: .425em 1.2em;
    border-width: .06rem;
}

.md-header__button.md-logo img {
    height: 1.7rem !important;
    border-radius: 100%;
    transition: box-shadow .12s ease-in;
}

.md-header__button.md-logo:hover {
    opacity: 1;

}

.md-header__button.md-logo:hover img {
    box-shadow: 0 0 0 0.18rem var(--md-accent-fg-color--transparent);
}

.md-top {
    border: 1px solid var(--md-typeset-table-color);
}

.md-header__button.md-logo {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    margin-right: 0;
}

.js .md-typeset .tabbed-labels:before {
    height: 3px;
    border-radius: 3px 3px 0 0;
}

@media screen and (min-width: 60em) {
    .md-search__form {
        height: 1.64rem;
        border-radius: 0.8rem;
        background-color: var(--md-default-bg-color) !important;
        border: 1px solid var(--md-typeset-table-color);
    }

    [data-md-toggle=search]:checked~.md-header .md-search__form {
        border-radius: 0.8rem;
    }

    .md-search__input {
        font-size: 0.68rem;
    }

    .md-search__icon, .md-search__icon svg {
        width: 1.05rem;
        height: 1.05rem;
    }

    .md-search__output {
        border-radius: var(--border-radius) !important;
        top: 2.1rem;
    }

    .md-header__source a {
        margin: 0.3rem;
        border-radius: var(--border-radius);
    }

    .md-header__source a .md-source__icon.md-icon {
        height: 1.8rem;
    }

    .md-header__source a .md-source__icon.md-icon svg {
        margin-top: 0.3rem;
    }

    .md-header__source a.md-source:hover {
        background: var(--md-accent-fg-color--transparent);
        opacity: 1;
    }

    .left {
        float: left;
        min-width: 35%;
        margin-right: 2em;
    }

    .clear {
        float: left;
        width: 100%;
        display: block;
        height: 2em;
    }

    .md-typeset h1.hero-title {
        font-size:2.9em;
    }
}

.md-typeset h1.hero-title {
    background-color: #9473FF;
    background-image: url("https://unsplash.com/photos/33xSu0EWgP4/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NzB8fGNvbG9yZnVsJTIwYmx1cnJlZHxkZXwwfHx8fDE2ODIwMzQ5NDU&force=true&w=640");
    background-repeat: repeat;
    background-size: 2500px 2500px;
    background-clip:text;
    -webkit-background-clip:text;
    animation: animate 90s ease-in-out infinite;
    color: transparent;
}

.md-typeset h1.hero-title .headerlink {
    display: none;
}

.md-tooltip {
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    border: 1px solid var(--md-default-fg-color--lightest);
}

.hero {
    background-image: linear-gradient(175deg, var(--md-accent-fg-color) -480%, var(--md-code-bg-color) 110%);
    border-radius: calc(3.5 * var(--border-radius));
    margin-top: -3em;
    z-index: 2;
    position: relative;
    padding: 2em;
}

@keyframes animate {
    0%, 100% {
        background-position: top left;
    }
    50% {
        background-position: bottom right;
    }
}


[data-md-color-scheme=slate] .invert-in-dark-mode {
    filter: invert(0.9) hue-rotate(180deg);
}

.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: transparent;
}

.md-sidebar {
    border-radius: 0 calc(2 * var(--border-radius)) calc(2 * var(--border-radius)) 0;
    overflow: hidden;
    border: 1px solid var(--md-default-fg-color--lightest);
    border-left: 0;
}
