{% extends "base.jinja2" %}
{% from "macros.jinja2" import comment %}

{% block content %}
{{ comment(type_def, indentation=0) }}
public enum {{ type_def.java.name }} {
{% for item in type_def.items %}
    {{ comment(item) }}
    {{ item.java.name ~ (";" if loop.last else ",") }}
{% endfor %}
}
{% endblock %}
