{% extends "base.jinja2" %}

{% block content %}
{% if type_def.comment %}
{{ type_def.java.comment }}
{% endif %}
public enum {{ type_def.java.name }} {
{% for item in type_def.items %}
    {% if item.comment %}
    {{ item.java.comment | indent(4) }}
    {% endif %}
    {{ item.java.name ~ (";" if loop.last else ",") }}
{% endfor %}
}
{% endblock %}
