{% extends "base.jinja2" %}
{% from "macros.jinja2" import comment %}

{% block content %}
{{ comment(type_def, indentation=0) }}
public enum {{ type_def.java.name }} {
{% for flag in type_def.flags if not flag.none and not flag.all %}
    {{ comment(flag) }}
    {{ flag.java.name ~ (";" if loop.last else ",") }}
{% endfor %}
}
{% endblock %}
