{% macro comment(def, indentation=4) %}
{%- if def.comment -%}
{{ def.java.comment | indent(indentation) }}
{%- endif -%}
{% endmacro %}

{% macro value_def(value, type_def) %}
{%- if value is string -%}"{{ value }}"
{%- elif value is boolean %}{{ "true" if value else "false" }}
{%- elif value is number %}{{ value ~ ("f" if type_def.primitive.value == "float") }}
{%- else %}new {{ type_def.java.typename }}(
{%- for field in type_def.fields -%}
    {{ value_def(value.assignments[field.name].value, field.type_ref.type_def) ~ (", " if not loop.last) }}
{%- endfor -%}
)
{%- endif -%}
{% endmacro %}

{% macro constant_def(constant) %}
    {{ comment(constant) }}
    public static final {{ constant.type_ref.type_def.java.typename }} {{ constant.java.name }} = {{ value_def(constant.value, constant.type_ref.type_def) }};
{% endmacro %}

{% macro data_type(type_ref, boxed=False) %}
{{ type_ref.type_def.java.boxed if boxed or type_ref.optional else type_ref.type_def.java.typename }}
{%- if type_ref.parameters -%}
    <
    {%- for parameter in type_ref.parameters -%}
        {{ data_type(parameter, boxed=True) }}
    {%- endfor -%}
    >
{%- endif -%}
{% endmacro %}
