{% extends "base.jinja2" %}
{% from "macros.jinja2" import data_type %}

{% block content %}
{% if type_def.comment %}
{{ type_def.java.comment }}
{% endif %}
{{ type_def.java.class_modifier }}class {{ type_def.java.name }} {
{% for field in type_def.fields %}
    {% if field.comment %}
    {{ field.java.comment }}
    {% endif %}
    {{ field.java.field_modifier ~ data_type(field.type_ref) }} {{ field.java.name }};
{% endfor %}
    public {{ type_def.java.name }}(
    {% for field in type_def.fields %}
        {{ data_type(field.type_ref) }} {{ field.java.name ~ ("," if not loop.last) }}
    {% endfor %}
    ) {
    {% for field in type_def.fields %}
        this.{{ field.java.name }} = {{ field.java.name }};
    {% endfor %}
    }

{% for field in type_def.fields %}
    public {{ data_type(field.type_ref) }} {{ field.java.getter }}() { return {{ field.java.name }}; }
{% endfor %}

{% if 'str' in type_def.deriving %}
    @Override
    public String toString() {
        return "{{ type_def.java.typename }}{" +
        {% for field in type_def.fields %}
            "{{ ("," if not loop.first) ~ field.java.name }}=" + {{ field.java.name }} +
        {% endfor %}
        "}";
    }
{% endif %}
}
{% endblock %}
