/*#
Copyright 2024 jothepro

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#*/
//> macro cppcli_error_handling(method)
//> if method.cpp.noexcept or method.asynchronous:
{{ caller() }}
//> else:
    try {
    {{ caller() | indent() }}
    }
    //> if method.throwing:
    //> for error_domain_ref in method.throwing:
    //> set error_domain = error_domain_ref.type_def
    //> for error_code in error_domain.error_codes:
    catch ({{ error_domain.cppcli.typename }}::{{ error_code.cppcli.name }}^ e) {
        throw {{ error_domain.cppcli.typename }}::{{ error_code.cppcli.name }}::ToCpp(e);
    }
    //> endfor
    //> endfor
    //> endif
    catch (System::Exception^ e) {
        throw ::pydjinni::CppCliException(e);
    }
//> endif
//> endmacro
//> macro cpp_error_handling(method)
//> if method.cpp.noexcept or method.asynchronous:
{{ caller() }}
//> else:
    try {
    {{ caller() }}
    }
    //> if method.throwing:
    //> for type_ref in method.throwing:
    //> set error_domain = type_ref.type_def
    //> for error_code in error_domain.error_codes:
    catch (const {{ error_domain.cpp.typename }}::{{ error_code.cpp.name }}& e) {
        throw {{ error_domain.cppcli.typename }}::{{ error_code.cppcli.name }}::FromCpp(e);
    }
    //> endfor
    //> endfor
    //> endif
    catch (const ::pydjinni::CppCliException& e) {
        throw ::pydjinni::CppCliException::FromCpp(e);
    }
    catch (const std::exception& e) {
        throw ::pydjinni::CppCliException::FromCpp(e);
    }
    //> if method.return_type_ref:
    return {}; // Unreachable! (Silencing compiler warnings.)
    //> endif
//> endif
//> endmacro
// AUTOGENERATED FILE - DO NOT MODIFY!
// This file was generated by PyDjinni from '{{ type_def.position.file }}'
//> if is_header:
#pragma once
//> for include in type_def.cppcli.header_includes | sort:
#include {{ include }}
//> endfor
//> else:
//> for include in type_def.cppcli.source_includes | sort:
#include {{ include }}
//> endfor
//> endif
//> block header
//> endblock

//> if type_def.cppcli.namespace:
namespace {{ type_def.cppcli.namespace }} {
//> endif
//> block content
//> endblock content
//> if type_def.cppcli.namespace:
} // namespace {{ type_def.cppcli.namespace }}
//> endif
